{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dépense ponctuelle - Ecopilot</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'finances/css/style.css' %}">
</head>

<body>
    <h1>Ajouter un Revenu</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter</button>
    </form>

    <!-- Bouton Retour au Dashboard -->
    <a href="{% url 'dashboard' %}" class="btn btn-secondary" style="margin-top: 20px;">Retour au tableau de bord</a>
</body>